/* место для вашего кода */
.header {
    display: flex;
}

.pixel-perfect-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    background-image: url("../images/ono_tebe_nado_maket.png");
  }  